@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@{
    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;

    var socialMediaPlatforms = settings?.Value<IEnumerable<Umbraco.Cms.Core.Models.Blocks.BlockListItem>>("socialMediaPlatforms") ?? null;
}

@if (socialMediaPlatforms != null)
{
    <div class="socialmedia">
        @foreach (var social in socialMediaPlatforms)
        {
            var platformName = social?.Content?.Value<string>("platformName");
            var platformAccountUrl = social?.Content?.Value<string>("platformAccountUrl") ?? "#";

            switch(platformName.ToLower())
            {
                case "facebook":
                <a href="@platformAccountUrl" title="@platformAccountUrl" target="_blank" class="socialmedia-item"><i class="fa-brands fa-facebook"></i></a>
                break;

                case "instagram":
                    <a href="@platformAccountUrl" title="@platformAccountUrl" target="_blank" class="socialmedia-item"><i class="fa-brands fa-instagram"></i></a>
                break;

                case "linkedin":
                    <a href="@platformAccountUrl" title="@platformAccountUrl" target="_blank" class="socialmedia-item"><i class="fa-brands fa-linkedin"></i></a>
                break;

                case "tiktok":
                    <a href="@platformAccountUrl" title="@platformAccountUrl" target="_blank" class="socialmedia-item"><i class="fa-brands fa-tiktok"></i></a>
                break;

                case "x (formerly twitter)":
                    <a href="@platformAccountUrl" title="@platformAccountUrl" target="_blank" class="socialmedia-item"><i class="fa-brands fa-x-twitter"></i></a>
                break;

                case "youtube":
                    <a href="@platformAccountUrl" title="@platformAccountUrl" target="_blank" class="socialmedia-item"><i class="fa-brands fa-youtube"></i></a>
                break;
            }
        }
    </div>
}