@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
    ViewBag.Title = Model?.Value("pageTitle") ?? null;


    var selectedTag = Context.Request.Query["tag"].ToString().ToLower();
    var selection = Umbraco.Content(Guid.Parse("667bb043-73c4-45b2-b2ef-831aadbd9a62"))
    .ChildrenOfType("projectItemTemplate")
    .Where(x => x.IsVisible());

    if (!string.IsNullOrEmpty(selectedTag) && selectedTag != "all")
    {
        selection = selection.Where(x => x.Value<IEnumerable<string>>("projectTags")?
        .Select(tag => tag.ToLower())
        .Contains(selectedTag) == true);
    }

    var itemsPerPage = 4;

    if (!int.TryParse(Context.Request.Query["page"], out int currentPage))
    {
        currentPage = 1;
    }
    var totalItems = selection?.Count() ?? 0;
    var pagedItems = selection?.Skip((currentPage - 1) * itemsPerPage).Take(itemsPerPage);

    var pageTags = Model?.Value<IEnumerable<string>>("projectPageTags") ?? null;


    var contactInfo = (Model.Value<bool>("contactInfo"));
    var sidebarForm = Model.Value<bool>("sidebarForm");

}

@if (!string.IsNullOrEmpty(ViewBag.Title))
{
    @await Html.PartialAsync("partials/static/breadcrumb.cshtml")
}

<section id="our-projects">
    <div class="container">
        @if (!string.IsNullOrEmpty(Model.Value("customHeadline")?.ToString()))
        {
            <div class="headline">
                <h2 class="title">@Model.Value("customHeadline")</h2>
            </div>
        }
        <div class="projects">
            @if (pagedItems != null)
            {
                @foreach (var item in pagedItems)
                {
                    var image = item?.Value<IPublishedContent>("thumbnailImage")?.Url() ?? "";
                    var preamble = item?.Value<string>("preamble") ?? "";
                    var datePublished = item?.Value<DateTime>("datePublished").ToString("MMMM dd, yyyy") ?? null;

                    <a id="project-item" href="@item.Url()">
                        <div class="item">
                            <div class="thumbnail-image">
                                <img src="@image" alt="@item.Name()">
                            </div>
                            <div class="content">
                                <div class="header">
                                    <h4>@item.Name()</h4>
                                    <p class="date"><i class="fa-regular fa-calendar-days"></i>@datePublished</p>
                                </div>
                                <div class="footnote">
                                    <p class="preamble">@preamble</p>
                                    <div class="read-more">Read more<i class="fa-regular fa-arrow-right"></i></div>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            }
            else
            {
                <p>No projects found or no projects found for the selected tag.</p>
            }
            <div id="pagination">
                <div class="container">
                    @if (currentPage > 1)

                    {
                        <a href="?page=@(currentPage - 1)" class="change">Prev</a>
                    }

                    else

                    {
                        <span class="change inactive">Prev</span>
                    }

                    <ul class="pages">
                        @for (int i = 1; i <= Math.Ceiling((decimal)totalItems / itemsPerPage); i++)
                        {
                            <li class="@((i == currentPage) ? "number active" : "number")">
                                <a href="?page=@i">@i</a>
                            </li>
                        }
                    </ul>

                    @if (currentPage < Math.Ceiling((decimal)totalItems / itemsPerPage))

                    {
                        <a href="?page=@(currentPage + 1)" class="change">Next</a>
                    }

                    else

                    {
                        <span class="change inactive">Next</span>
                    }
                </div>
            </div>

        </div>
        <div id="project-sidebar">
            <div class="page-tags">
                <div class="header">
                    <h4>Tags</h4>
                </div>
                <div class="tags">
                    @if (pageTags != null)
                    {
                        <button class="sidebar-tag" onclick="location.href='?tag=all'">All</button>
                        @foreach (var tag in pageTags)
                        {
                            <button class="sidebar-tag" onclick="location.href='?tag=@tag'">@tag</button>
                        }
                    }
                    else
                    {
                            <div class="placeholder"></div>
                    }

                </div>
            </div>
            @if (sidebarForm)
            {
                @await Html.PartialAsync("partials/static/sidebarForm.cshtml")

            }
        </div>
    </div>
</section>



@if (contactInfo)
{
    @await Html.PartialAsync("partials/static/contactInfo.cshtml")
}

