@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
    ViewBag.Title = Model?.Value("pageTitle") ?? null;

    var selection = Umbraco.Content(Guid.Parse("667bb043-73c4-45b2-b2ef-831aadbd9a62"))
    .ChildrenOfType("projectItemTemplate")
    .Where(x => x.IsVisible());

    var itemsPerPage = 6;

    if (!int.TryParse(Context.Request.Query["page"], out int currentPage))
    {
        currentPage = 1;
    }
    var totalItems = selection?.Count() ?? 0;
    var pagedItems = selection?.Skip((currentPage - 1) * itemsPerPage).Take(itemsPerPage);

    var pageTags = Model?.Value<IEnumerable<string>>("projectPageTags") ?? Enumerable.Empty<string>();
}

@if (!string.IsNullOrEmpty(ViewBag.Title))
{
    @await Html.PartialAsync("partials/static/breadcrumb.cshtml")
}

<section id="our-projects">
    <div class="container">
        @if (!string.IsNullOrEmpty(Model.Value("customHeadline")?.ToString()))
        {
            <div class="headline">
                <h2 class="title">@Model.Value("customHeadline")</h2>
            </div>
        }

        <div class="projects">
            @if (pagedItems != null)
            {
                @foreach (var item in pagedItems)
                {
                    var image = item?.Value<IPublishedContent>("thumbnailImage")?.Url() ?? "";
                    var preamble = item?.Value<string>("preamble") ?? "";
                    var datePublished = item?.Value<DateTime>("datePublished").ToString("MMMM dd, yyyy") ?? null;

                    <a id="project-item" href="@item.Url()">
                        <div class="item">
                            <div class="thumbnail-image">
                                <img src="@image" alt="@item.Name()">
                            </div>
                            <div class="content">
                                <div class="header">
                                    <h4>@item.Name()</h4>
                                    <p class="date"><i class="fa-regular fa-calendar-days"></i>@datePublished</p>
                                </div>
                                <div class="footnote">
                                    <p class="preamble">@preamble</p>
                                    <div class="read-more">Read more<i class="fa-regular fa-arrow-right"></i></div>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            }
        </div>
        <div id="project-sidebar">
            <div class="page-tags">
                <div class="header">
                    <h4>Tags</h4>
                </div>
                <div class="tags">
                    @foreach (var tag in pageTags)
                    {
                        <a class="page-tag">@tag</a>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<section id="pagination">
    <div class="container">
        @if (currentPage > 1)

        {
            <a href="?page=@(currentPage - 1)" class="change">Prev</a>
        }

        else

        {
            <span class="change inactive">Prev</span>
        }

        <ul class="pages">
            @for (int i = 1; i <= Math.Ceiling((decimal)totalItems / itemsPerPage); i++)
            {
                <li class="@((i == currentPage) ? "number active" : "number")">
                    <a href="?page=@i">@i</a>
                </li>
            }
        </ul>

        @if (currentPage < Math.Ceiling((decimal)totalItems / itemsPerPage))

        {
            <a href="?page=@(currentPage + 1)" class="change">Next</a>
        }

        else

        {
            <span class="change inactive">Next</span>
        }
    </div>
</section>

